<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.common.entity.Orders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="total_price" jdbcType="INTEGER" property="totalPrice" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="deliver_time" jdbcType="TIMESTAMP" property="deliverTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="total_freight" jdbcType="INTEGER" property="totalFreight" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="express_detail" jdbcType="VARCHAR" property="expressDetail" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
    <result column="rate_total" jdbcType="INTEGER" property="rateTotal" />
    <result column="refund_amount" jdbcType="INTEGER" property="refundAmount" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="express_no" jdbcType="VARCHAR" property="expressNo" />
    <result column="pay_amount" jdbcType="INTEGER" property="payAmount" />
  </resultMap>
</mapper>